In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./Data/Hospital_Inpatient_Discharges.csv', low_memory=False)

In [3]:
df.head()

,Hospital Service Area,Hospital County,Operating Certificate Number,Permanent Facility Id,Facility Name,Age Group,Zip Code - 3 digits,Gender,Race,Ethnicity,...,APR Severity of Illness Description,APR Risk of Mortality,APR Medical Surgical Description,Payment Typology 1,Payment Typology 2,Payment Typology 3,Birth Weight,Emergency Department Indicator,Total Charges,Total Costs
0,New York City,Bronx,7000006.0,3058.0,Montefiore Med Center - Jack D Weiler Hosp of ...,50 to 69,107,F,White,Not Span/Hispanic,...,Major,Major,Medical,Medicaid,NaN,NaN,NaN,Y,"51,514.62","7,552.54"
1,New York City,Bronx,7000006.0,3058.0,Montefiore Med Center - Jack D Weiler Hosp of ...,18 to 29,104,M,Black/African American,Spanish/Hispanic,...,Moderate,Minor,Medical,Medicaid,NaN,NaN,NaN,Y,"25,370.86","3,469.55"
2,New York City,Bronx,7000006.0,3058.0,Montefiore Med Center - Jack D Weiler Hosp of ...,18 to 29,104,F,Other Race,Spanish/Hispanic,...,Minor,Minor,Medical,Medicaid,NaN,NaN,NaN,N,"23,876.78","6,180.33"
3,New York City,Bronx,7000006.0,3058.0,Montefiore Med Center - Jack D Weiler Hosp of ...,18 to 29,100,F,Black/African American,Not Span/Hispanic,...,Moderate,Minor,Medical,Medicaid,NaN,NaN,NaN,Y,"43,319.05","12,588.93"
4,New York City,Bronx,7000006.0,1168.0,Montefiore Medical Center-Wakefield Hospital,18 to 29,104,M,Other Race,Spanish/Hispanic,...,Moderate,Moderate,Medical,Medicaid,NaN,NaN,NaN,Y,"40,266.23","10,355.99"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2103433 entries, 0 to 2103432
Data columns (total 33 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Hospital Service Area                object
 1   Hospital County                      object
 2   Operating Certificate Number         float64
 3   Permanent Facility Id                float64
 4   Facility Name                        object
 5   Age Group                            object
 6   Zip Code - 3 digits                  object
 7   Gender                               object
 8   Race                                 object
 9   Ethnicity                            object
 10  Length of Stay                       object
 11  Type of Admission                    object
 12  Patient Disposition                  object
 13  Discharge Year                       int64
 14  CCSR Diagnosis Code                  object
 15  CCSR Diagnosis Description           object
 16  CCSR Procedure Code                  object
 17  CCSR Procedure Description           object
 18  APR DRG Code                         int64
 19  APR DRG Description                  object
 20  APR MDC Code                         int64
 21  APR MDC Description                  object
 22  APR Severity of Illness Code         int64
 23  APR Severity of Illness Description  object
 24  APR Risk of Mortality                object
 25  APR Medical Surgical Description     object
 26  Payment Typology 1                   object
 27  Payment Typology 2                   object
 28  Payment Typology 3                   object
 29  Birth Weight                         object
 30  Emergency Department Indicator       object
 31  Total Charges                        object
 32  Total Costs                          object
dtypes: float64(2), int64(4), object(27)
memory usage: 529.6+ MB

In [6]:
df.isnull().sum()

Hospital Service Area                     5390
Hospital County                           5390
Operating Certificate Number              5961
Permanent Facility Id                     5390
Facility Name                                0
Age Group                                    0
Zip Code - 3 digits                      41227
Gender                                       0
Race                                         0
Ethnicity                                    0
Length of Stay                               0
Type of Admission                            0
Patient Disposition                          0
Discharge Year                               0
CCSR Diagnosis Code                          0
CCSR Diagnosis Description                   0
CCSR Procedure Code                     582815
CCSR Procedure Description              582815
APR DRG Code                                 0
APR DRG Description                          0
APR MDC Code                                 0
APR MDC Description                          0
APR Severity of Illness Code                 0
APR Severity of Illness Description        636
APR Risk of Mortality                      636
APR Medical Surgical Description             0
Payment Typology 1                           0
Payment Typology 2                     1121497
Payment Typology 3                     1814362
Birth Weight                           1894796
Emergency Department Indicator               0
Total Charges                                0
Total Costs                                  0
dtype: int64

In [7]:
df.columns

Index(['Hospital Service Area', 'Hospital County',
       'Operating Certificate Number', 'Permanent Facility Id',
       'Facility Name', 'Age Group', 'Zip Code - 3 digits', 'Gender', 'Race',
       'Ethnicity', 'Length of Stay', 'Type of Admission',
       'Patient Disposition', 'Discharge Year', 'CCSR Diagnosis Code',
       'CCSR Diagnosis Description', 'CCSR Procedure Code',
       'CCSR Procedure Description', 'APR DRG Code', 'APR DRG Description',
       'APR MDC Code', 'APR MDC Description', 'APR Severity of Illness Code',
       'APR Severity of Illness Description', 'APR Risk of Mortality',
       'APR Medical Surgical Description', 'Payment Typology 1',
       'Payment Typology 2', 'Payment Typology 3', 'Birth Weight',
       'Emergency Department Indicator', 'Total Charges', 'Total Costs'],
      dtype='object')

In [8]:
df = df.drop(columns=['Operating Certificate Number', 'Permanent Facility Id', 'Ethnicity', 'CCSR Diagnosis Code', 'CCSR Procedure Code', 'APR DRG Code', 
                      'APR MDC Code', 'APR Severity of Illness Code', 'Payment Typology 2', 'Payment Typology 3', 'CCSR Procedure Description'])

In [10]:
df = df.dropna(subset=['APR Severity of Illness Description'])
df = df.dropna(subset=['APR Risk of Mortality'])
df = df.dropna(subset=['Zip Code - 3 digits'])
df = df.dropna(subset=['Hospital Service Area'])
df = df.dropna(subset=['Hospital County'])
df = df.dropna(subset=['APR DRG Description'])

In [11]:
df.isnull().sum()

Hospital Service Area                        0
Hospital County                              0
Facility Name                                0
Age Group                                    0
Zip Code - 3 digits                          0
Gender                                       0
Race                                         0
Length of Stay                               0
Type of Admission                            0
Patient Disposition                          0
Discharge Year                               0
CCSR Diagnosis Description                   0
APR DRG Description                          0
APR MDC Description                          0
APR Severity of Illness Description          0
APR Risk of Mortality                        0
APR Medical Surgical Description             0
Payment Typology 1                           0
Birth Weight                           1856607
Emergency Department Indicator               0
Total Charges                                0
Total Costs                                  0
dtype: int64

In [12]:
df.shape

(2061584, 22)

In [13]:
county_to_region = {
    'Bronx': 'South', 'Rockland': 'East', 'Manhattan': 'South', 'Westchester': 'East',
    'Kings': 'South', 'Queens': 'South', 'Orange': 'East', 'Nassau': 'South',
    'Sullivan': 'East', 'Otsego': 'North', 'Herkimer': 'North', 'Delaware': 'East',
    'Monroe': 'West', 'Ontario': 'West', 'Cortland': 'North', 'Columbia': 'East',
    'Albany': 'East', 'Suffolk': 'East', 'Onondaga': 'North', 'Madison': 'North',
    'Steuben': 'West', 'Cayuga': 'North', 'Montgomery': 'North', 'Erie': 'West',
    'Jefferson': 'North', 'Oswego': 'North', 'Yates': 'North', 'Wayne': 'West',
    'Genesee': 'West', 'Schoharie': 'North', 'Ulster': 'East', 'Oneida': 'North',
    'Schenectady': 'North', 'Broome': 'West', 'St Lawrence': 'North', 'Schuyler': 'West',
    'Richmond': 'South', 'Niagara': 'West', 'Chemung': 'West', 'Essex': 'North',
    'Chautauqua': 'West', 'Dutchess': 'East', 'Putnam': 'East', 'Chenango': 'North',
    'Tompkins': 'West', 'Warren': 'North', 'Fulton': 'North', 'Wyoming': 'West',
    'Franklin': 'North', 'Cattaraugus': 'West', 'Saratoga': 'North', 'Lewis': 'North',
    'Livingston': 'West', 'Allegany': 'West', 'Orleans': 'West', 'Clinton': 'North',
    'Rensselaer': 'East'
}

df['Region'] = df['Hospital County'].map(county_to_region)

In [14]:
# Function to generate birth weight based on gender, rounded to the nearest 100 gm
def generate_birth_weight(row):
    if row['Gender'] == 'F':  
        return np.random.choice(range(3100, 3301, 100))  
    elif row['Gender'] == 'M':  
        return np.random.choice(range(3300, 3701, 100))  
    else:
        return np.nan  # If gender is unknown, set as NaN

df['Birth Weight'] = df.apply(generate_birth_weight, axis=1)

df['Birth Weight'] = df['Birth Weight'].apply(lambda x: f'{int(x):04d}' if pd.notna(x) else x)

print(df[['Gender', 'Birth Weight']].head())

  Gender Birth Weight
0      F         3100
1      M         3700
2      F         3100
3      F         3100
4      M         3600

In [15]:
missing_values_by_gender = df.groupby('Gender')['Birth Weight'].apply(lambda x: x.isnull().sum())

print(missing_values_by_gender)

Gender
F      0
M      0
U    103
Name: Birth Weight, dtype: int64

In [16]:
df = df.dropna(subset=['Birth Weight'])

In [17]:
df.isnull().sum()

Hospital Service Area                  0
Hospital County                        0
Facility Name                          0
Age Group                              0
Zip Code - 3 digits                    0
Gender                                 0
Race                                   0
Length of Stay                         0
Type of Admission                      0
Patient Disposition                    0
Discharge Year                         0
CCSR Diagnosis Description             0
APR DRG Description                    0
APR MDC Description                    0
APR Severity of Illness Description    0
APR Risk of Mortality                  0
APR Medical Surgical Description       0
Payment Typology 1                     0
Birth Weight                           0
Emergency Department Indicator         0
Total Charges                          0
Total Costs                            0
Region                                 0
dtype: int64

In [18]:
df.shape

(2061481, 23)

In [19]:
# Define mapping from age_group to age_bracket
age_group_mapping = {
    '0 to 17': 'Child',
    '18 to 29': 'Young Adult',
    '30 to 49': 'Adult',
    '50 to 69': 'Middle Aged',
    '70 or Older': 'Senior'
}

df['Age Bracket'] = df['Age Group'].map(age_group_mapping)

In [20]:
df.rename(columns={'Zip Code - 3 digits': 'Zip Code'}, inplace=True)

In [22]:
df['Length of Stay'] = df['Length of Stay'].str.replace(r'\s*\+\s*', '', regex=True)

In [25]:
df['Total Charges'] = df['Total Charges'].str.replace(',', '')
df['Total Costs'] = df['Total Costs'].str.replace(',', '')

df['Total Charges'] = pd.to_numeric(df['Total Charges'])
df['Total Costs'] = pd.to_numeric(df['Total Costs'])

In [27]:
df['Birth Weight'] = pd.to_numeric(df['Birth Weight']).astype('Int64')
df['Length of Stay'] = pd.to_numeric(df['Length of Stay']).astype('Int64')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2061481 entries, 0 to 2103432
Data columns (total 24 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Hospital Service Area                object
 1   Hospital County                      object
 2   Facility Name                        object
 3   Age Group                            object
 4   Zip Code                             object
 5   Gender                               object
 6   Race                                 object
 7   Length of Stay                       Int64
 8   Type of Admission                    object
 9   Patient Disposition                  object
 10  Discharge Year                       int64
 11  CCSR Diagnosis Description           object
 12  APR DRG Description                  object
 13  APR MDC Description                  object
 14  APR Severity of Illness Description  object
 15  APR Risk of Mortality                object
 16  APR Medical Surgical Description     object
 17  Payment Typology 1                   object
 18  Birth Weight                         Int64
 19  Emergency Department Indicator       object
 20  Total Charges                        float64
 21  Total Costs                          float64
 22  Region                               object
 23  Age Bracket                          object
dtypes: Int64(2), float64(2), int64(1), object(19)
memory usage: 397.1+ MB

In [31]:
df.columns = df.columns.str.replace(' ', '_').str.replace('-', '').str.upper()

In [32]:
df.columns

Index(['HOSPITAL_SERVICE_AREA', 'HOSPITAL_COUNTY', 'FACILITY_NAME',
       'AGE_GROUP', 'ZIP_CODE', 'GENDER', 'RACE', 'LENGTH_OF_STAY',
       'TYPE_OF_ADMISSION', 'PATIENT_DISPOSITION', 'DISCHARGE_YEAR',
       'CCSR_DIAGNOSIS_DESCRIPTION', 'APR_DRG_DESCRIPTION',
       'APR_MDC_DESCRIPTION', 'APR_SEVERITY_OF_ILLNESS_DESCRIPTION',
       'APR_RISK_OF_MORTALITY', 'APR_MEDICAL_SURGICAL_DESCRIPTION',
       'PAYMENT_TYPOLOGY_1', 'BIRTH_WEIGHT', 'EMERGENCY_DEPARTMENT_INDICATOR',
       'TOTAL_CHARGES', 'TOTAL_COSTS', 'REGION', 'AGE_BRACKET'],
      dtype='object')

In [33]:
df.to_csv('./Data/cleaned_data.csv', index=False)

In [34]:
cleaned = pd.read_csv('./Data/cleaned_data.csv')

In [35]:
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2061481 entries, 0 to 2061480
Data columns (total 24 columns):
 #   Column                               Dtype
---  ------                               -----
 0   HOSPITAL_SERVICE_AREA                object
 1   HOSPITAL_COUNTY                      object
 2   FACILITY_NAME                        object
 3   AGE_GROUP                            object
 4   ZIP_CODE                             object
 5   GENDER                               object
 6   RACE                                 object
 7   LENGTH_OF_STAY                       int64
 8   TYPE_OF_ADMISSION                    object
 9   PATIENT_DISPOSITION                  object
 10  DISCHARGE_YEAR                       int64
 11  CCSR_DIAGNOSIS_DESCRIPTION           object
 12  APR_DRG_DESCRIPTION                  object
 13  APR_MDC_DESCRIPTION                  object
 14  APR_SEVERITY_OF_ILLNESS_DESCRIPTION  object
 15  APR_RISK_OF_MORTALITY                object
 16  APR_MEDICAL_SURGICAL_DESCRIPTION     object
 17  PAYMENT_TYPOLOGY_1                   object
 18  BIRTH_WEIGHT                         int64
 19  EMERGENCY_DEPARTMENT_INDICATOR       object
 20  TOTAL_CHARGES                        float64
 21  TOTAL_COSTS                          float64
 22  REGION                               object
 23  AGE_BRACKET                          object
dtypes: float64(2), int64(3), object(19)
memory usage: 377.5+ MB